@font-face {
	font-family: Roboto_Condensed;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed-Bold.woff2") format("woff2"), url("../fonts/Roboto_Condensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto_Condensed;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed-Medium.woff2") format("woff2"), url("../fonts/Roboto_Condensed-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto_Condensed;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed-Regular.woff2") format("woff2"), url("../fonts/Roboto_Condensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
