:root {
	--container-width: 1137px;
	--container-padding: 15px;

	--font-main: 'Roboto', sans-serif;

	--page-bg: #efefef;
	--page-bg-white: #fff;
	--text-color: #333;
	--accent: #f13c6e;
	--link-color: #fff;
	--border-radius-m: 40px;
	--border-radius-s: 30px;
}

.dark {
	--page-bg: #efefef;
	--text-color: #333;
}
