<div class="category-item">
	<h3 class="h3 footer-category__title">@@title</h3>
	<ul class="footer-category__menu">
		<li class="footer-category__item"><a href="#!">@@Nozzle</a></li>
		<li class="footer-category__item"><a href="#!">@@Tools</a></li>
		<li class="footer-category__item"><a href="#!">@@Gel</a></li>
		<li class="footer-category__item"><a href="#!">@@Design</a></li>
		<li class="footer-category__item"><a href="#!">@@Building</a></li>
		<li class="footer-category__item"><a href="#!">@@Equipment</a></li>
	</ul>
</div>