.brands {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1px;
	@include m1024() {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
	}
	@media (max-width: 615px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.brands__img {
	max-width: 277px;
	padding: 35px 70px 35px 60px;
	background-color: var(--page-bg-white);
}
