.nav {
	font-size: 16px;
	@include m768() {
		display: none;
	}
}
.nav__list {
	display: flex;
	column-gap: 40px;
	a {
		color: #000;
		transition: color 0.2s ease-in;
		&:hover {
			color: var(--accent);
		}
	}
}
.active {
}
