.h1,
.h2,
.h3,
.h4 {
	font-weight: 700;
	font-size: 48px;
	font-family: var(--font-main);
	color: var(--page-bg-white);
}

.h2,
.h3 {
	font-size: 24px;
	color: #000;
}

.h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.40625;
}

.h4 {
	font-size: 18px;
}
